<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href={% static 'UtahPrideCenter/frontend.css' %} />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>You're Checked In!</title>
</head>

<body>
  <div class="center-content">
    <div class="banner">
        <a href="https://utahpridecenter.org/youth-programs/" target="_blank">
        <img class="banner-img" src={% static 'UtahPrideCenter/logopink.png' %}>
        </a>
    </div>

    <h2 id="welcome">You're Checked In!</h2>
    <img class="r_bar" src={% static 'UtahPrideCenter/r_bar.jpg' %}>

    <div class="pink-box">
          <a href="{{ zoom_link }}" class="submit whole-button" id="zoom">Join the Zoom Meeting</a>
          <a href="/?t={{ join_link }}" class="home half-button">Go Back</a>
    </div>



  </div>

</body>
</html>